html {
    background-color: #07080c;
    font-family: 'simonetta', serif;
}

h1 {
    max-width: 500px;
    margin: 0;
    font-size: 80px;
    font-weight: 400;
    font-style: italic;
    align-self: center;
    text-align: center;
    color: #cad9f5;
    line-height: 1.5;
}

h2 {
    max-width: 500px;
    margin: 0;
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
    align-self: center;
    text-align: center;
    color: #cad9f5;
    line-height: 1.5;
}

h3 {
    max-width: 500px;
    margin: 0;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    align-self: center;
    text-align: center;
    color: #cad9f5;
    line-height: 1.5;
}

h4 {
    max-width: 500px;
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    font-style: normal;
    align-self: center;
    text-align: center;
    color: #cad9f5;
    line-height: 1.5;
}

h5 {
    max-width: 500px;
    margin: 0;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    align-self: center;
    text-align: center;
    color: #cad9f5;
    line-height: 1.5;
}

h6 {
    max-width: 500px;
    margin: 0;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    align-self: center;
    text-align: center;
    color: #cad9f5;
    line-height: 1.5;
}

p {
    max-width: 500px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    align-self: center;
    text-align: center;
    color: #cad9f5;
    line-height: 1.5;
}

li {
    max-width: 500px;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    align-self: center;
    text-align: center;
    color: #cad9f5;
    line-height: 1.5;
}

hr {
    width: 500px;
    margin: 20px 0;
    align-self: center;
    border: none;
    border-top: 1px solid #cad9f5;
}