html {
    background-color: #07080c;
    font-family: 'IBM Plex Serif', serif;
}

h1 {
    max-width: 500px;
    margin: 0;
    font-size: 60px;
    font-weight: 400;
    font-style: italic;
    color: #cad9f5;
    letter-spacing: -3px;
    line-height: 1.5;
}